.box{
    height: 400px;
    width: 400px;
    border: 15px solid tomato;
    border-radius: 50%;
    
    margin: 100px auto;
    position: relative;
    animation-name: square;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
}
@keyframes square{
    0%  {background-color: tomato; left: 0; right: 0;}
    25% {background-color: green; left: 500px; right: 0;}
    50% {background-color: blue; left: 500px; right: 500px;
        border-radius: 50%;}
    75%{background-color: red; left: 0; right: 500px;}
    100% {background-color: orange; left: 0; right: 0;
        border-radius: 0;}
}
