.box1{
    width: 150px; 
    height: 200px;
    background-color: black;
}
.box2{
    width: 150px; 
    height: 200px;
    background-color: red;
}
.box3{
    width: 150px; 
    height: 200px;
    background-color: green;
}
.box4{
    width: 150px; 
    height: 200px;
    background-color: tomato;
}

div{
    float: left;
}