h1{
    color: red;
    background-color: green;
    text-align: center;

}

body{
    color: white;;
    background-color: black;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}