.box{
    height: 400px;
    width: 400px;
    background-color: tomato;
    margin: 100px auto;
    /*transition-property: all;
    transition-delay: .5s;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0,1.1,.87,.24);*/
    transition: all .5s linear;
}
.box:hover{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    transform: rotate(180deg);
}